* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: sans-serif;
    background-color: #01010f;
}

nav {
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #3a1a86;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 3px 9px rgb(0 0 0 / 30%);
}

header {
    height: 100px;
    background: #5d30bf;
    margin-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.card {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 30%);
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #09bd39;
    color: #09bd39;
    background-color: #01010f;
    border-radius: 2px;
}

.btn-play {
    margin-right: 20px;
}

.effect {
    width: 100%;
    border-bottom: 1px solid rgb(196, 191, 191);
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.effect--title {
    color: #09bd39;
    margin-right: 10px;
    min-width: 80px;
}

.effect--value {
    color: #09bd39;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.d-flex {
    display: flex;
}